.center {
  right: 50%;
  bottom: 90%;
  transform: translate(50%, 90%);
  position: absolute;
  text-align: center;
}

.highlight-white {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}
